*{
    box-sizing: border-box;
}

body
{
    background-image: url("b5.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#nav
{
    position: relative;
    background-color: #c8e8ffc9;
    width: 100%;
    height: 65px;
    padding: 5px;
}

#logo
{
    width: 55px;
    height: 55px;
    margin-right: 10px;
    float: left;
}

#shopname
{
    font-size: 25px;
    color: #d65158;
}

#call
{
    float: left;
    position: relative;
    border: 3px solid rgba(255, 140, 87, 0.829);
    border-radius: 5px;
    background-color: white;
}
#call:hover,#call:active
{
    background-color: rgb(239, 255, 239);
}

#callicon
{
    width: 18px;
    height: 18px;
    float: left;
}

#number
{
    color: green;
    padding: 2.5px;
    font-size: 13px;
    height: 18px;
    background-color: inherit;
    float: left;
}

a, a:hover, a:active, a:link, a:checked
{
    text-decoration: none;
}

#address
{
    color: #ff572282;
    font-size: x-small;
    display: none;
}

#container
{
    padding: 5%;
    padding-right: 0%;
}

.row
{
    position: relative;
}

.box
{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.58);
    margin-right: 5%;
    margin-bottom: 5%;
    float: left;
}

.itemimg
{
    width: 100%;
    height: 150px;
    opacity: 1;
}

.itemname
{
    color: #d65158;
    font-size: 17px;
}

.slogan
{
    color: green;
}

#addressbar
{
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(204, 232, 255, 0.226);
    border: 1px solid rgba(220, 220, 220, 0);
    border-radius: 3px;
}

#addressicon
{
    width: 15px;
    height: 22px;
    margin-left: 35%;
}

#address2
{
    color: #d65158;
    font-size: 12px;
}

a:active, a:hover, a:link, a:visited
{
    text-decoration: none;
    color: inherit;
    background-color: rgba(0, 0, 255, 0);
}

.waste
{
    color: rgb(107, 106, 106);
    margin-top: 2px;
    margin-left: 5px;
    font-size: 14px;
}

#hide
{
    display: none;
}